:root{
    --blanco : #fff;
    --oscuro : #000;
    --titulos : #ffc107;
    --secundario : #22a9d6;

    --tamano-principal : 3.8rem}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.titulo{
    text-align: center;
    font-size: var(--tamano-principal);

    font-family: 'Bebas Neue', cursive;
    font-weight: 800;

    color: var(--titulos);
    
    /*width: 20rem; /* 1rem = 10px */
}

.titulo span{
    font-size: 3.3rem;
    color:#FA58F4;
}


.contenedor{
    width:120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--titulos);
}
